.active {
	background-color: lightgreen;
}
.navbar {
	background-color: gray;
}
.nav-link {
	color: black;
}
.nav-item {
	&:hover {
		background-color: orange;
	}
}
.dropdown-item {
	&:hover {
		background-color: orange;
	}
}
#title {
	font: bold 22px/1.5 Arial, helvetica, sans-serif;
	text-transform: uppercase;
	text-align: center;
	width: 100%;
	margin-top: 30px;
}
